tsg-workflows/NDEybZEUW1mtZO7b-Explore_n8n_Nodes_in_a_Visual_Reference_Library.json
{
  "name": "Explore n8n Nodes in a Visual Reference Library",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "3feeda27-6a9a-4a87-aca4-62dc7a1009dc",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1920,
        1968
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "b9d70ef3-a74a-4588-9d16-95a51995644a",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2320,
        2208
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {},
      "id": "e633062d-eae5-4d67-a1b8-d3df5fc87cb3",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2320,
        1968
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4b69fa18-4018-4b1c-a4e3-43699c807fca",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        1920,
        2208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c2aaf017-07d2-452c-ba18-cc747e3979d0",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "position": [
        2720,
        2208
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "274da45c-d0bd-48d7-9263-78afa308c78b",
      "name": "Sentiment Analysis",
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "position": [
        1920,
        2432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "03be1fae-4ba5-45a3-a19c-2bb3ee49c6e9",
      "name": "Summarization Chain",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        2320,
        2432
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f7cadacb-66bd-4fc7-8a5e-06c7fa8493cd",
      "name": "Text Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        2720,
        2432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "835ac56c-1c33-4955-b097-59c15dc58731",
      "name": "Chat Memory Manager",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "position": [
        2720,
        1968
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "b03c385e-b4b3-430b-a8d1-629ccc785726",
      "name": "Bitly App",
      "type": "n8n-nodes-base.bitly",
      "position": [
        6928,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download"
      },
      "id": "73276937-34bc-4943-87c3-1a6d57edac79",
      "name": "Dropbox App",
      "type": "n8n-nodes-base.dropbox",
      "position": [
        7376,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6a1d1bd1-8c91-4bf2-acbf-c3fac836a3bd",
      "name": "Gmail App",
      "type": "n8n-nodes-base.gmail",
      "position": [
        6928,
        640
      ],
      "webhookId": "221627ad-9bc1-4919-b105-6816f8cba493",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "additionalFields": {}
      },
      "id": "e0f92ee0-55b1-468f-9213-b8de41fb7e1c",
      "name": "Google Calendar App",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        7376,
        640
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "get"
      },
      "id": "abf825e0-8401-4e3b-ba3d-471e609706aa",
      "name": "Google Docs App",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        7600,
        640
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "e1f1c422-e20c-43b1-8dc9-41fb960a15a5",
      "name": "Google Sheets App",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        6928,
        864
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {},
      "id": "bbe5c37f-4c62-43fd-8348-f81ad5b6acbe",
      "name": "Pushbullet App",
      "type": "n8n-nodes-base.pushbullet",
      "position": [
        7600,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "create",
        "options": {}
      },
      "id": "d9b3cea5-56c2-4441-b86c-0235ef1797d4",
      "name": "YouTube App",
      "type": "n8n-nodes-base.youTube",
      "position": [
        7600,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "4e551552-e81d-4e68-9dcb-129457c7eeee",
      "name": "Bluesky App",
      "type": "@muench-dev/n8n-nodes-bluesky.bluesky",
      "position": [
        7152,
        432
      ],
      "typeVersion": 2,
      "credentials": {}
    },
    {
      "parameters": {},
      "id": "c4072976-9564-455f-bd5a-d6a90247b967",
      "name": "Perplexity App",
      "type": "@watzon/n8n-nodes-perplexity.perplexity",
      "position": [
        7376,
        864
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {},
      "id": "371967ab-a033-401d-a193-4b1d16832cf1",
      "name": "ElevenLabs App",
      "type": "n8n-nodes-elevenlabs.elevenLabs",
      "position": [
        7600,
        432
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {},
      "id": "e058f764-64b2-4253-a097-e8da851ce709",
      "name": "Reddit App",
      "type": "n8n-nodes-base.reddit",
      "position": [
        6928,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "623e73b1-6b53-43c4-b95c-ddc0dc67addd",
      "name": "Gmail Trigger App",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        7152,
        640
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "8cbfb5b3-3b42-4a57-8878-e6a13881f940",
      "name": "Google Sheets Trigger App",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [
        7152,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# APP ACTIONS\n\n#### This section contains nodes for interacting with external apps and services like Google Sheets, Telegram, or Notion.",
        "height": 1074,
        "width": 1174,
        "color": 4
      },
      "id": "cea827e6-c499-494c-b8de-d85f7c6c520d",
      "name": "# Green",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6720,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# AI TOOLS\n\n#### This section contains tools for use with AI Agents.",
        "height": 1074,
        "width": 1174,
        "color": 7
      },
      "id": "151719d4-037d-4b20-acb6-c4c674337bc1",
      "name": "# Gray",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3472,
        1712
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "8a61e929-aeaa-4af5-9a5a-2f69135c486a",
      "name": "Call n8n Workflow Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        3888,
        1968
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "3c4cfce6-e995-4a72-be43-aba8d751ba27",
      "name": "Code Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "position": [
        4112,
        1968
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "b3c90dbc-f92a-4bbe-ae2c-837ad7fa5196",
      "name": "HTTP Request1",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        4336,
        2160
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "2f382add-25cc-429d-9e7b-b84a4c632150",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        3696,
        1968
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "583f6982-d6b3-4501-8341-da2b324f11f1",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        3888,
        2368
      ],
      "typeVersion": 2.5
    },
    {
      "parameters": {},
      "id": "bd3e5ccf-f21e-425f-b863-4f4b86a550db",
      "name": "Redis",
      "type": "n8n-nodes-base.redisTool",
      "position": [
        4112,
        2368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f26f5ed9-c782-4aca-affe-3cbf9eac4ae9",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSendTool",
      "position": [
        4336,
        2368
      ],
      "webhookId": "aad16d99-06c6-4ff4-98dc-87e11eac6d10",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "84f85cc4-6218-4c1b-b0d7-1103deeaa308",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        3696,
        2560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "17ae5580-caff-43c4-93f5-c7c48a31ac30",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        3888,
        2560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "5d9454dc-fcd4-4b72-830f-e54af6a2680f",
      "name": "Wolfram Alpha",
      "type": "@n8n/n8n-nodes-langchain.toolWolframAlpha",
      "position": [
        4112,
        2560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "90bb8301-75fa-477a-8cd1-11d8cb3398e1",
      "name": "gmailTool App",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        4336,
        1968
      ],
      "webhookId": "287836d6-287e-4488-92a1-b0719a512008",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "additionalFields": {}
      },
      "id": "cc712ce4-bb83-4635-8701-27dc5274b2bf",
      "name": "googleCalendarTool App",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        3696,
        2160
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "92738fd9-c1ac-4dd2-a963-ced81df249cd",
      "name": "googleDocsTool App",
      "type": "n8n-nodes-base.googleDocsTool",
      "position": [
        3888,
        2160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "4f82cf51-aebe-4914-b1b0-b661a40533a9",
      "name": "googleSheetsTool App",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        4112,
        2160
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "content": "# VECTOR MEMORY\n\n#### This section contains tools for AI Agents related to memory storage.",
        "height": 1074,
        "width": 1174,
        "color": 6
      },
      "id": "ce6e07ea-4081-4832-ab5c-58d23638851c",
      "name": "# Purple",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5120,
        1712
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0c82bae6-54af-45d9-b530-f865460193ce",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        5936,
        2400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f3694575-a9cd-4800-b830-71c9505bcb19",
      "name": "Auto-fixing Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "position": [
        5600,
        2400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "bb6da0de-472c-43f5-9b93-c7211493ffbf",
      "name": "Answer questions with a vector store",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        5248,
        2400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool"
      },
      "id": "ac10ddbc-81d2-470e-8a19-740da3bbeed8",
      "name": "In-Memory Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "position": [
        5392,
        1984
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "382cad17-dfc9-457f-9e68-27eb687ec233",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        5776,
        1984
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "options": {}
      },
      "id": "1f4eee34-ebc5-4899-acb9-a140863eca88",
      "name": "Postgres PGVector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "position": [
        5392,
        2192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "44806f55-b717-4885-b750-37e1655dfc47",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        5776,
        2192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d5037d83-ea19-42ab-86e7-272c69a47342",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        6976,
        1968
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b148f82d-8343-4856-aab5-2811ee99a8c4",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        7232,
        1968
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "27f45f90-7197-4e35-aedd-c158a7af55a7",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        7520,
        1968
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "79af5566-476d-45df-9992-5d63050291f3",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        7520,
        2320
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "b6182791-6d01-40e9-9510-333dc6307cca",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [
        6976,
        2320
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "d0047650-53e9-4fe8-849d-83324abca9d3",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "position": [
        7232,
        2320
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bd5fd081-2c33-4a9f-9b75-6b26304d3f90",
      "name": "Item List Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "position": [
        7088,
        2512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "7f0087cb-9791-4339-baf9-5263f18a25ad",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        7392,
        2512
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "a6d3936b-ad3c-4864-bdf7-a3369d0f0ce2",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        7088,
        2144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6439f8d0-86e3-449a-ac90-c0e057080975",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        7392,
        2144
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "# MISCELLANEOUS AI TOOLS\n\n#### This section contains miscellaneous tools for AI Agents including models, embeddings, memory and parsers.",
        "height": 1074,
        "width": 1174,
        "color": 5
      },
      "id": "3ff47eb5-59b8-4f69-ba91-f07584f2fbc5",
      "name": "# Blue",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6720,
        1712
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Red",
        "color": 3
      },
      "id": "ee5c44f7-a56d-4eb0-9f04-f7e35c56aa12",
      "name": "Sticky Note Red",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5136,
        3072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Green",
        "color": 4
      },
      "id": "83858128-51a4-4947-8e1f-1f0d8b002a94",
      "name": "Sticky Note Green",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4400,
        3344
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Blue",
        "color": 5
      },
      "id": "cc1311e0-b005-4460-b841-f1e5961abd80",
      "name": "Sticky Note Blue",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4752,
        3344
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Purple",
        "color": 6
      },
      "id": "fc0b7463-305c-47dd-9d30-da4f3e8a1708",
      "name": "Sticky Note Purple",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5136,
        3344
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Gray",
        "color": 7
      },
      "id": "0e7fed27-5c8b-4655-9c27-84ce94db7f5e",
      "name": "Sticky Note Gray",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4752,
        3600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Brown",
        "color": 2
      },
      "id": "a8992b45-7788-43d6-8060-1b115efe4879",
      "name": "Sticky Note Brown",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4752,
        3072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Yellow"
      },
      "id": "b866c03d-d46c-4832-b92f-0ea86599b81f",
      "name": "Sticky Note Yellow",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4400,
        3072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "2df946c3-336f-486c-8386-8ee7075f77a4",
      "name": "X",
      "type": "n8n-nodes-base.twitter",
      "position": [
        7376,
        1088
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "events": [
          "invitee.created",
          "invitee.canceled"
        ]
      },
      "id": "6b4bb993-28d0-4d37-9947-ed217f3d528f",
      "name": "Calendly Trigger",
      "type": "n8n-nodes-base.calendlyTrigger",
      "position": [
        2016,
        432
      ],
      "webhookId": "0fcbe862-fa72-496c-8504-fe2fd903a70a",
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d8eaab32-12bd-45c4-ac00-300fdd898de6",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "position": [
        2240,
        432
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "808bd54d-3bd1-4cb5-9317-96293e809323",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        2672,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0e152939-2353-4d13-85f9-9096785562a8",
      "name": "Gumroad Trigger",
      "type": "n8n-nodes-base.gumroadTrigger",
      "position": [
        2240,
        640
      ],
      "webhookId": "0d650798-d9d7-439e-a266-b6205233afea",
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "c9ab2220-b03b-4788-a68e-f6b03f2e3098",
      "name": "Local File Trigger",
      "type": "n8n-nodes-base.localFileTrigger",
      "position": [
        2448,
        640
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "60144d8d-2e0f-49d9-ba7d-05b2363ddf74",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        2672,
        640
      ],
      "webhookId": "6b73f639-28a8-4282-8452-a8374036b263",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "fb224b15-5e25-4274-8bdd-ee1e1785d9f1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        2016,
        864
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "path": "5d58aa36-a90f-4ec3-ab44-2006a370ae56",
        "options": {}
      },
      "id": "cdaac578-99db-46ae-8987-4ad35cfbc166",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        2240,
        864
      ],
      "webhookId": "5d58aa36-a90f-4ec3-ab44-2006a370ae56",
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4c82af95-1614-46a2-8f44-1a32a1ce6087",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        2448,
        864
      ],
      "webhookId": "58bd0a92-e352-402c-9070-0278ea9cb0ac",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "10e7394d-3bec-4cb7-8b86-d5f9c5942881",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        2672,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0d207099-c44e-4393-a02b-b4f97c8610cd",
      "name": "Workflow Input Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        2016,
        1088
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "2c0910cc-dc9b-4c38-acd6-05315f373c3f",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        2448,
        432
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "909d7d34-8d08-4452-b8ab-641d1566b7d7",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [
        2016,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# TRIGGERS\n\n#### This section contains all trigger nodes that can start workflow execution.",
        "height": 1074,
        "width": 1274,
        "color": 6
      },
      "id": "fc7fe9cf-1b62-4b96-9a19-72b8510ad8e6",
      "name": "# Purple1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1792,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "912f97da-0920-46a5-b37b-d5dc6cdfc4c4",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        3872,
        432
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7b59ae12-f26a-4571-bad1-6e253a4456b0",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        4320,
        432
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5f4fd27-b7e2-49df-9ea3-9998119c07d3",
              "name": "Name Test",
              "type": "string",
              "value": "Value Test"
            },
            {
              "id": "d9658a2c-93a5-48c1-a170-9f8182d5a113",
              "name": "Name 1",
              "type": "number",
              "value": 1
            }
          ]
        },
        "options": {}
      },
      "id": "e9110354-6b3f-40d4-a42c-2b5fa19cf9f0",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        3648,
        640
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "6a4cc4e4-a4a3-4d9e-a19f-c1189749e356",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "458376a1-b116-4c4f-a01b-8fb5fd5337ad",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        4096,
        640
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "338520d1-b0f7-4463-88f2-59a9129cf3ad",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "position": [
        3648,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e86e17ef-d46d-487a-aeaa-a62a57c28cea",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        4320,
        864
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ed62f9ee-126b-40f4-b090-37837b9aae90",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        4096,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "id": "9439328a-b787-49fe-829b-35efe6f6f94d",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        3648,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "6ab55c99-bbe7-4608-b686-56e10cb03209",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        4096,
        864
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "59bba8e3-1867-4fe4-93b7-be9884a99eeb",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "position": [
        4320,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toText",
        "options": {}
      },
      "id": "1e0747d4-e2ca-4592-ac28-73651dd5973b",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        4096,
        432
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "586bcd83-db67-4d92-84ce-70f8126b3ef8",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        3872,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "e51edfa8-7d70-4ee8-b6dc-a4f0f4c2d0ce",
      "name": "HTML",
      "type": "n8n-nodes-base.html",
      "position": [
        4320,
        640
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9c5a2f49-452b-4e73-b1dc-c4b043d87ec1",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [
        3872,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "additionalOptions": {}
      },
      "id": "6269bc98-cc16-4608-8f63-125f348f25e6",
      "name": "Rename Keys",
      "type": "n8n-nodes-base.renameKeys",
      "position": [
        3648,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a25145c1-a269-43fc-8d51-03d45d340cb3",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "position": [
        3872,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# DATA TRANSFORMATION\n\n#### This section contains nodes for manipulating, filtering, and converting data.",
        "height": 1074,
        "width": 1174,
        "color": 5
      },
      "id": "398302d7-97f8-4d88-a9e1-1d59f1e0522d",
      "name": "# Blue1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3472,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f9de618d-6acc-46a9-a7ec-61c748ce8c31",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "6b2896d4-308c-4dc6-8851-275a791a5957",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        5536,
        640
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "83eecf41-341e-428e-be4b-907d610214ea",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        5760,
        640
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "e2623f85-fbbf-4c3e-b8a1-7393b5c10b10",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "position": [
        5968,
        640
      ],
      "typeVersion": 1,
      "notes": "Placeholder node - replace with actual processing node"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9a347885-e8b6-47c0-bcc6-9b5a9de31630",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        5536,
        432
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "535e56d1-dd6d-48b5-a83a-4237b98e6712",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        5536,
        864
      ],
      "webhookId": "34bf5501-158c-43fb-b571-067c2dfaa5fc",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "24eb6d34-7812-4c25-9e52-b06a47e1d8fc",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        5312,
        432
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fb3342d9-1a40-417a-bc30-641bdc858454",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5312,
        640
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {},
      "id": "dd2c5db8-ad89-4e8b-a2ca-b2937d5bb504",
      "name": "Execution Data",
      "type": "n8n-nodes-base.executionData",
      "position": [
        5760,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "protocol": "sftp",
        "options": {}
      },
      "id": "ed45b513-7fe5-4620-b190-8022ab3b0c27",
      "name": "FTP",
      "type": "n8n-nodes-base.ftp",
      "position": [
        5968,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f8d75e51-e391-4ee6-aeda-d4ee1b95535c",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        5312,
        864
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "# FLOW & CORE\n\n#### This section contains flow control nodes (branch, merge, or loop workflows) and core functionality nodes (run code, make HTTP requests, accept webhooks).",
        "height": 1074,
        "width": 1174,
        "color": 3
      },
      "id": "b31e8cf2-ef95-4183-904a-e426460b6cf0",
      "name": "# Red",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5120,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "772785e7-e4e8-46bb-881a-f46535001357",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        7152,
        1088
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "# AI AGENTS\n\n#### This section contains all AI related nodes that can attach models, tools and memory.",
        "height": 1074,
        "width": 1274,
        "color": 3
      },
      "id": "2bacc070-b61f-413c-9a04-645165e4737e",
      "name": "# Red1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        1712
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "c2b59df8-6327-464d-bb98-29c6df9e521a",
      "name": "AI Transform",
      "type": "n8n-nodes-base.aiTransform",
      "position": [
        2400,
        2608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e9e27f3b-6f85-40d6-ba08-d14e75ee9ebc",
      "name": "MCP Client",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        3696,
        2368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# WATCH THE n8n STARTER GUIDE 👇\n\n[![Click Here!](https://i.imgur.com/GpUl9iS.png)](https://www.youtube.com/watch?v=It3CkokmodE&list=PL1Ylp5hLJfWeL9ZJ0MQ2sK5y2wPYKfZdE&index=1&pp=gAQBiAQBsAQB)\n\n\n## THE NODE REFERENCE LIBRARY 📖\n\n## This **Node Reference Library** workflow is like a visual map showing many common n8n nodes, grouped by what they do (like Triggers, Data Transformation, AI Agents, etc.). Think of it as a quick visual cheat sheet! 🗺️\n\n## Explore the canvas to get familiar with different node types and see what's possible. ✨\n\n## This resource is provided by [@IversusAI](https://www.youtube.com/@IversusAI) on YouTube! 📺\n",
        "height": 1080,
        "width": 1020,
        "color": 7
      },
      "id": "9a7807d3-b789-4067-b549-eed5e297e524",
      "name": "Sticky Note Purple1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "OpenAI": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Basic LLM Chain": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        []
      ]
    },
    "Summarization Chain": {
      "main": [
        []
      ]
    },
    "Information Extractor": {
      "main": [
        []
      ]
    },
    "Question and Answer Chain": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateId": "3891"
  }
}