tsg-workflows/ZVs36xvyxG0kuIJH-AI_Powered_Lead_Enrichment_with_Bright_Data_MCP_and_Google_Sheets.json
{
  "name": "AI-Powered Lead Enrichment with Bright Data MCP and Google Sheets",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0/edit?usp=drivesdk",
          "cachedResultName": "Test Database"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 870504645,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0/edit#gid=870504645",
          "cachedResultName": "sampleATcsv"
        },
        "options": {
          "columnsToWatch": [
            "status"
          ]
        }
      },
      "id": "80ffc9b5-2a35-46e3-a641-45ae6f9556bd",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [
        1168,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\"$schema\": \"http://json-schema.org/draft-07/schema#\",\n\"title\": \"UserData\",\n\"type\": \"object\",\n\"properties\": {\n  \"first_name\": {\n      \"type\": \"string\"\n  },\n  \"last_name\": {\n      \"type\": \"string\"\n  },\n  \"middle_name\": {\n      \"type\": \"string\"\n  },\n  \"gender\": {\n      \"type\": \"string\"\n  },\n  \"address\": {\n      \"type\": \"string\"\n  },\n  \"city\": {\n      \"type\": \"string\"\n  },\n  \"state\": {\n      \"type\": \"string\"\n  },\n  \"zip\": {\n      \"type\": \"integer\"\n  },\n  \"country\": {\n      \"type\": \"string\"\n  },\n  \"email\": {\n      \"type\": \"string\",\n      \"format\": \"email\"\n  },\n  \"phone\": {\n      \"type\": \"string\"\n  },\n  \"date_of_birth\": {\n      \"type\": \"string\"\n  },\n  \"field_of_study\": {\n      \"type\": \"string\"\n  },\n  \"graduation_date\": {\n      \"type\": \"string\"\n  },\n  \"company\": {\n      \"type\": \"string\"\n  },\n  \"job_title\": {\n      \"type\": \"string\"\n  },\n  \"department\": {\n      \"type\": \"string\"\n  },\n  \"facebook_handle\": {\n      \"type\": \"string\"\n  },\n  \"linkedin_url\": {\n      \"type\": \"string\",\n      \"format\": \"uri\"\n  },\n  \"x_handle\": {\n      \"type\": \"string\"\n  },\n  \"instagram_handle\": {\n      \"type\": \"string\"\n  },\n  \"company_address\": {\n      \"type\": \"string\"\n  },\n  \"company_city\": {\n      \"type\": \"string\"\n  },\n  \"company_state\": {\n      \"type\": \"string\"\n  },\n  \"company_zip\": {\n      \"type\": \"integer\"\n  },\n  \"company_country\": {\n      \"type\": \"string\"\n  },\n  \"company_phone\": {\n      \"type\": \"string\"\n  },\n  \"company_email\": {\n      \"type\": \"string\",\n      \"format\": \"email\"\n  },\n  \"company_industry\": {\n      \"type\": \"string\"\n  },\n  \"company_size\": {\n      \"type\": \"integer\"\n  },\n  \"company_founded_year\": {\n      \"type\": \"integer\"\n  },\n  \"degree\": {\n      \"type\": \"string\"\n  },\n \n  \"job_function\": {\n      \"type\": \"string\"\n  },\n  \"marital_status\": {\n      \"type\": \"string\"\n  },\n  \"salutation\": {\n      \"type\": \"string\"\n  },\n  \"school\": {\n      \"type\": \"string\"\n  },\n  \"scrape_error\": {\n      \"type\": \"string\"\n  }\n},\n\"required\": [\n  \"first_name\",\n  \"last_name\",\n  \"email\"\n],\n\"additionalProperties\": false\n}"
      },
      "id": "06d817c6-f625-495e-bfd3-d019a98f0ebb",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        3728,
        1088
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Watch for the updated record in Google Sheets based on the column 'status'\nWrite 'needs more enrichment' in the status column if you want to retry the enrichment\n",
        "height": 540,
        "width": 460,
        "color": 4
      },
      "id": "18ef61dc-5134-4c8b-817b-da162c093b06",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "prompt": "Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease only return the first_name, last_name, email, and scrape_error (put the error details in this field)"
        }
      },
      "id": "e3b79eff-1504-4da3-85ef-4423f5ee71cd",
      "name": "Auto-fixing Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "position": [
        3520,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "1023e561-8f92-4fe1-8d21-1b6fcd2bbb6e",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3488,
        1008
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Manually run the records that is needed enrichment\n",
        "height": 540,
        "width": 520,
        "color": 4
      },
      "id": "ac4f57e8-f7f0-47b8-b039-9a93f198083a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c46b338f-ccb6-4ce4-a1a3-623a615d19b2",
      "name": "Process each leads one by one",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2368,
        64
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "1ec242aa-557e-434a-8bb5-d043b5645e88",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.status?.toString() }}",
              "rightValue": ""
            },
            {
              "id": "400fe682-5882-441f-a506-ea8f9bdb9df8",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "needs more enrichment"
            }
          ]
        },
        "options": {}
      },
      "id": "e6f86e5f-f49f-4781-90d2-78747efd5053",
      "name": "Filter the leads that needs enrichment",
      "type": "n8n-nodes-base.filter",
      "position": [
        1392,
        944
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "row_number, status, row_id",
        "options": {}
      },
      "id": "46203489-bdd1-48ea-a020-8f5e1734cbdb",
      "name": "Remove unneccessary fields for the prompt",
      "type": "n8n-nodes-base.set",
      "position": [
        2896,
        64
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "# Update the record in Google Sheet",
        "height": 1620,
        "width": 980,
        "color": 4
      },
      "id": "838ba8a6-3f41-4973-b5aa-805b9abc6baa",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6192,
        -480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# AI Agent with Bright Data MCP attached\nPlease play around which model suited best",
        "height": 740,
        "width": 840,
        "color": 6
      },
      "id": "1315c393-9cb2-4345-ba01-34faa5673e72",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2736,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sseEndpoint": "http://localhost:8000/sse",
        "include": "selected"
      },
      "id": "f77f311d-20c4-4e5d-a679-f905a5e1680a",
      "name": "Bright Data MCP Client",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        3232,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "f5d6bf43-d9c0-4272-9d5f-cf1371f0e27a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2992,
        352
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "# Formating the results and comparing it to the original",
        "height": 760,
        "width": 1160
      },
      "id": "370ea5eb-0abc-418a-836f-f9e28d3f11be",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3632,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "54ed6517-f4b9-48ff-baf1-37c7551c85ed",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.output.first_name }}",
              "rightValue": "={{ $('Process each leads one by one').item.json.first_name }}"
            },
            {
              "id": "465b70a3-9830-4521-8248-a1236795b296",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.output.last_name }}",
              "rightValue": "={{ $('Process each leads one by one').item.json.last_name }}"
            },
            {
              "id": "5a2f38ab-64e6-4e5d-92e2-7a88135e7884",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.output.email }}",
              "rightValue": "={{ $('Process each leads one by one').item.json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cc8043c0-6306-4808-9caf-0776b9a29553",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        4016,
        240
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "26b1eb37-80d1-4966-a223-fe7a6d032083",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Process each leads one by one').item.json.email !== \"\" && ($('Process each leads one by one').item.json.first_name + \" \" + $('Process each leads one by one').item.json.last_name).trim() === \"\"  }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Email only"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "7a4f68df-3d5b-4476-b186-8a5fb847d78e",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Process each leads one by one').item.json.email === \"\" && ($('Process each leads one by one').item.json.first_name + \" \" + $('Process each leads one by one').item.json.last_name).trim() !== \"\"  }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Name only"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "13d089ae-1fd1-4a15-a35c-edae907141f5",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Process each leads one by one').item.json.email !== \"\" && ($('Process each leads one by one').item.json.first_name + \" \" + $('Process each leads one by one').item.json.last_name).trim() !== \"\"  }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Both email and name exists"
            }
          ]
        },
        "options": {}
      },
      "id": "7cfe0f1d-d2ef-4630-b4d4-5ef155852f4c",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        3760,
        80
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5a2f38ab-64e6-4e5d-92e2-7a88135e7884",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.output.email }}",
              "rightValue": "={{ $('Process each leads one by one').item.json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f4357d32-0d4f-4131-8367-63ac527bb9e2",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "position": [
        4016,
        -80
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "id": "0efb7c41-869f-4803-b725-7133fe74dfd6",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        4368,
        432
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "54ed6517-f4b9-48ff-baf1-37c7551c85ed",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.output.first_name }}",
              "rightValue": "={{ $('Process each leads one by one').item.json.first_name }}"
            },
            {
              "id": "465b70a3-9830-4521-8248-a1236795b296",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.output.last_name }}",
              "rightValue": "={{ $('Process each leads one by one').item.json.last_name }}"
            },
            {
              "id": "5a2f38ab-64e6-4e5d-92e2-7a88135e7884",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.output.email }}",
              "rightValue": "={{ $('Process each leads one by one').item.json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5478a933-3704-4282-a043-b61e7c84c86e",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        4016,
        80
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "b96100ab-1edf-46ce-8c1d-c16c7617b327",
      "name": "Not matched route",
      "type": "n8n-nodes-base.noOp",
      "position": [
        4592,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "896fdbd8-e6b2-4e5e-8cbb-8c347714f541",
      "name": "Space requests by 5 seconds",
      "type": "n8n-nodes-base.wait",
      "position": [
        7936,
        240
      ],
      "webhookId": "ca47f66b-d536-4751-ab54-7d1e049ca14a",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Format the output",
        "height": 560,
        "width": 840,
        "color": 6
      },
      "id": "5e4b65b7-30b6-4980-a851-43b8112d6347",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3248,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here's the lead's data:\n\n{{ $json.toJsonString() }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Prompt: Person and Company Enrichment Task\n\nObjective:\nEnrich the lead’s information as completely and accurately as possible. Avoid fabricating data and maintain strict adherence to the correct tool schema for each tool used in the MCP client.\n\n⸻\n\n1. Person Enrichment Instructions:\n- Start with a Google Search:\nPrioritize locating the individual’s LinkedIn profile URL using the available information.\n- Query Guidelines:\n- If the email address is available, use it in your search query.\n- If not, use the person’s first name and last name.\n- Always append keywords like “linkedin”, “facebook”, “instagram”, or other relevant social media platforms to refine the search.\n- LinkedIn-Based Enrichment:\nOnce the LinkedIn URL is found, use it to gather available details from their profile.\n\n⸻\n\n2. Company Enrichment Instructions:\n- Email Domain Extraction:\nIf the person’s email is not from a generic provider (e.g., gmail.com, outlook.com, hotmail.com, icloud.com), extract the domain and use it in your search.\n- Query Composition:\n- Combine the extracted domain with any existing value in the “company” field of the lead’s details.\n- Do not rely on or reuse company data obtained from other tool outputs.\n- Focus on sourcing reliable company information from LinkedIn and Crunchbase.\n\n⸻\n\nOutput Format:\n\nReturn the enriched data in valid JSON format using the original key structure. Exclude any fields that remain empty. Example output:\n\n{\n  \"first_name\": \"John\",\n  \"last_name\": \"Doe\",\n  \"address\": \"123 Maple Street, Apt 4\",\n  \"instagram_handle\": \"johndoe38\"\n}\n\n",
          "maxIterations": 30,
          "returnIntermediateSteps": true
        }
      },
      "id": "146b61b9-cd18-4e72-b07f-4f848d909a66",
      "name": "Scraper AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3120,
        80
      ],
      "retryOnFail": true,
      "typeVersion": 1.9,
      "notes": "\nSteps:\n1. Scrape the url and find for the input fields common in the form such as text, radio buttons, checkboxes.  etc. Identify selectors for these input fields. Find the submit button too or the button to proceed to the next section or step."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "bfbf1be5-96a7-470e-a3d2-006dbf948c4d",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        5440,
        272
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "=gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "Task:\nEvaluate the accuracy of the scraped data compared to the original source data.\n\nInstructions:\n- Assess how closely the scraped output matches the original data in terms of content, structure, and completeness.\n- Provide a confidence score based on the overall accuracy.\n- Explain your reasoning in concise, clear remarks.\n\nOutput Format (JSON):\n\n{\n  \"confidence\": [decimal between 0 and 1, e.g., 0.98 for 98% accuracy],\n  \"remarks\": \"A brief explanation justifying the confidence score, highlighting any discrepancies or issues found.\"\n}\n",
              "role": "system"
            },
            {
              "content": "=Original source data:\n{{ $('Remove unneccessary fields for the prompt').item.json.toJsonString() }}\n\nScraped output:\n{{ $json.output.toJsonString() }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "fa2096a7-56d7-45aa-b10f-4ae7456339b4",
      "name": "Judge the accuracy of scraped data",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        4976,
        80
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {},
      "id": "32f37490-752b-4ee1-b68f-c56f17615bf4",
      "name": "Just to make the connection neat",
      "type": "n8n-nodes-base.noOp",
      "position": [
        8480,
        1280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Identify the accuracy of the scraped data\nThis may serve as another layer of accuracy filtering",
        "height": 740,
        "width": 1160,
        "color": 2
      },
      "id": "01f944b6-e821-4ca3-ba09-bbc33f562ef4",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4912,
        -176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "298abc40-159e-4aa3-ab4d-039829c2d1a0",
              "name": "confidence",
              "type": "number",
              "value": "={{ $json.message.content.confidence }}"
            },
            {
              "id": "c2662984-8fa9-46eb-bc6d-fb7be5fc4451",
              "name": "remarks",
              "type": "string",
              "value": "={{ $json.message.content.remarks }}"
            }
          ]
        },
        "options": {}
      },
      "id": "08a34aec-7419-4cb9-b495-dff406c6f61d",
      "name": "Extract the AI results only",
      "type": "n8n-nodes-base.set",
      "position": [
        5168,
        80
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f153193c-b517-49fc-8ae4-1bea6bd0ff91",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 0.85
            }
          ]
        },
        "options": {}
      },
      "id": "716a21d4-230d-4747-a031-ca8aac1bc3af",
      "name": "Check the confidence score",
      "type": "n8n-nodes-base.if",
      "position": [
        6272,
        384
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output }}",
        "options": {}
      },
      "id": "a4eb12f7-26b9-4f8f-a51a-ff54c769c06b",
      "name": "Prepare the scraped output for Google Sheets",
      "type": "n8n-nodes-base.set",
      "position": [
        5648,
        368
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d437c0b-ff3e-4c21-95e0-5557866806c5",
              "name": "remarks",
              "type": "string",
              "value": "={{ $('Merge1').item.json.remarks }}"
            },
            {
              "id": "5ef03fde-ee61-49a3-8c73-1ab4b66654a6",
              "name": "confidence",
              "type": "number",
              "value": "={{ $('Merge1').item.json.confidence }}"
            },
            {
              "id": "745b0dd7-7ac9-4e97-9192-db95ff2d2706",
              "name": "row_id",
              "type": "string",
              "value": "={{ $('Process each leads one by one').item.json.row_id }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "06bf86dc-c92f-4540-8963-219015d745fb",
      "name": "Add confidence score to Google Sheet",
      "type": "n8n-nodes-base.set",
      "position": [
        5856,
        384
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0/edit?usp=drivesdk",
          "cachedResultName": "Test Database"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 870504645,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0/edit#gid=870504645",
          "cachedResultName": "sampleATcsv"
        },
        "columns": {
          "value": {
            "first_name": "={{ $json.output.first_name }}"
          },
          "schema": [
            {
              "id": "row_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "row_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "first_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "last_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "middle_name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "middle_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "address",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "city",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "state",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "zip",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "zip",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "country",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "job_title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "department",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "department",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "date_of_birth",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "date_of_birth",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "facebook_handle",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "facebook_handle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_url",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "linkedin_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "x_handle",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "x_handle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "instagram_handle",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "instagram_handle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_address",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_city",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_city",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_state",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_state",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_zip",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_zip",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_country",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_country",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_phone",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_industry",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_size",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_size",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_founded_year",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_founded_year",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "remarks",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "remarks",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "confidence",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "row_id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f6ba009f-47f1-428e-95e6-b3d8ca23208d",
      "name": "Add record if the confidence score is below 85%",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        6896,
        832
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0/edit?usp=drivesdk",
          "cachedResultName": "Test Database"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 870504645,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0/edit#gid=870504645",
          "cachedResultName": "sampleATcsv"
        },
        "columns": {
          "value": {
            "first_name": "={{ $json.output.first_name }}",
            "row_number": "={{ $('Google Sheets').item.json.row_number }}"
          },
          "schema": [
            {
              "id": "row_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "row_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "first_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "last_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "middle_name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "middle_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "address",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "city",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "state",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "zip",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "zip",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "country",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "job_title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "department",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "department",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "date_of_birth",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "date_of_birth",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "facebook_handle",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "facebook_handle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_url",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "linkedin_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "x_handle",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "x_handle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "instagram_handle",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "instagram_handle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_address",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_city",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_city",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_state",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_state",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_zip",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_zip",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_country",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_country",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_phone",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_industry",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_size",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_size",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_founded_year",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_founded_year",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "remarks",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "remarks",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "confidence",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "row_id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9a5a4808-a8d1-4b49-82b5-b33bc48b56f5",
      "name": "Override the record if the confidence score is equal or greater than 85%",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        6768,
        208
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "content": "## Override the record if the confidence score is equal or greater than 85%",
        "height": 360,
        "width": 480,
        "color": 7
      },
      "id": "1eb07d73-aa8f-4cba-a760-5d142eea9734",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6592,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0/edit?usp=drivesdk",
          "cachedResultName": "Test Database"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 870504645,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0/edit#gid=870504645",
          "cachedResultName": "sampleATcsv"
        },
        "columns": {
          "value": {
            "row_id": "={{ $('Process each leads one by one').item.json.row_id }}",
            "status": "no information found"
          },
          "schema": [
            {
              "id": "row_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "row_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "first_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "last_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "middle_name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "middle_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "address",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "city",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "state",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "zip",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "zip",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "country",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "job_title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "department",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "department",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "date_of_birth",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "date_of_birth",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "facebook_handle",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "facebook_handle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_url",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "linkedin_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "x_handle",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "x_handle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "instagram_handle",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "instagram_handle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_address",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_city",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_city",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_state",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_state",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_zip",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_zip",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_country",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_country",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_phone",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_email",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_industry",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_size",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_size",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_founded_year",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_founded_year",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "274d8c92-9094-4b26-8d6e-689e38fe9540",
      "name": "Update the status of the record",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        6768,
        -176
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "content": "## Append row if the confidence score is below 85%",
        "height": 560,
        "width": 480,
        "color": 7
      },
      "id": "9958acae-7675-48c2-a400-0ee00267745f",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6592,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Scraped data doesn't match the source. This will only update the status of the record.",
        "height": 360,
        "width": 480,
        "color": 7
      },
      "id": "ae5d281a-31a3-46a0-b5af-8dcf376d2947",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6592,
        -368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9edb1a8c-d71c-4b13-aa89-6a329a58fd67",
              "name": "row_id",
              "type": "string",
              "value": "={{ $('Process each leads one by one').item.json.row_id }}-{{ $now.toMillis() }}"
            },
            {
              "id": "e95fdab0-79a5-4546-9b6d-0750fd44932c",
              "name": "status",
              "type": "string",
              "value": "human review needed"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a5aa4f8f-d7ec-4d28-87a2-c774ba627a95",
      "name": "Update row_id and status",
      "type": "n8n-nodes-base.set",
      "position": [
        6688,
        832
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0/edit?usp=drivesdk",
          "cachedResultName": "Test Database"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 870504645,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0/edit#gid=870504645",
          "cachedResultName": "sampleATcsv"
        },
        "columns": {
          "value": {
            "row_id": "={{ $json.row_id }}",
            "status": "human review needed"
          },
          "schema": [
            {
              "id": "row_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "row_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "first_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "last_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "middle_name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "middle_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "address",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "city",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "state",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "zip",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "zip",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "country",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "job_title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "department",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "department",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "date_of_birth",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "date_of_birth",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "facebook_handle",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "facebook_handle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_url",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "linkedin_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "x_handle",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "x_handle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "instagram_handle",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "instagram_handle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_address",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_city",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_city",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_state",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_state",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_zip",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_zip",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_country",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_country",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_phone",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_email",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_industry",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_size",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_size",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_founded_year",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_founded_year",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "remarks",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "remarks",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "confidence",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2eb2c10a-1ab8-408f-9411-13fa356b4664",
      "name": "Update the status of the original record",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        6752,
        592
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "id": "e2cb5ff7-3d0d-4766-bda2-2ea5d1b8cf54",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1040,
        -416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0/edit?usp=drivesdk",
          "cachedResultName": "Test Database"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 870504645,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0/edit#gid=870504645",
          "cachedResultName": "sampleATcsv"
        },
        "columns": {
          "value": {
            "email": "={{ $json.properties.email.value }}",
            "phone": "={{ $json.properties.phone.value }}",
            "row_id": "={{ $json.vid }}",
            "last_name": "={{ $json.properties.lastname.value }}",
            "first_name": "={{ $json.properties.firstname.value }}"
          },
          "schema": [
            {
              "id": "row_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "row_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "first_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "last_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "middle_name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "middle_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "address",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "city",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "state",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "zip",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "zip",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "country",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "job_title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "department",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "department",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "date_of_birth",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "date_of_birth",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "facebook_handle",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "facebook_handle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_url",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "linkedin_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "x_handle",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "x_handle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "instagram_handle",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "instagram_handle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_address",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_city",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_city",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_state",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_state",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_zip",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_zip",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_country",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_country",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_phone",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_email",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_industry",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_size",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_size",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_founded_year",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_founded_year",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "remarks",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "remarks",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "confidence",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "da05a953-9e66-49b5-8c62-5cd48f439772",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1568,
        -304
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "get",
        "contactId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.contactId || $json.objectId }}"
        },
        "additionalFields": {}
      },
      "id": "48243a45-396f-4610-b97f-808ca39e90a6",
      "name": "HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        1312,
        -304
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0/edit?usp=drivesdk",
          "cachedResultName": "Test Database"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 870504645,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18bkVOsgjONipJNbPe91UiiLgKnSCvsr0b7BDLZUIJh0/edit#gid=870504645",
          "cachedResultName": "sampleATcsv"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status"
            },
            {
              "lookupColumn": "status",
              "lookupValue": "needs more enrichment"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "id": "1088136d-5530-47f2-b08f-3c91c28bd383",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        720,
        432
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {},
      "id": "16a4e5d7-3d4f-4aa4-b802-5bc61c6767b6",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        480,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# New Contact trigger in Hubspot and Save it to Google Drive",
        "height": 720,
        "width": 1380,
        "color": 3
      },
      "id": "2cf15cf0-be32-41d8-82f6-78a142e32b4a",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        -656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "eventsUi": {
          "eventValues": [
            {}
          ]
        },
        "additionalFields": {}
      },
      "id": "6a2d33a9-c2f9-412e-a70c-8a64b7da252b",
      "name": "New Contact in Hubpost (OAuth2)",
      "type": "n8n-nodes-base.hubspotTrigger",
      "position": [
        656,
        -176
      ],
      "webhookId": "dab75ae0-affc-4616-bad6-2e88d1afabc7",
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hsleads",
        "options": {}
      },
      "id": "fd273f08-9d98-4539-bad1-96a1ea6c0fc5",
      "name": "New Contact in Hubpost (Private App)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        672,
        -528
      ],
      "webhookId": "40d4eddf-4f9f-471f-a029-4a95f5f045b9",
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "d348c77a-7782-45c5-9d6d-d7464ff876c6",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        7296,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Update the Hubspot contact for the high confidence score",
        "height": 500,
        "width": 680,
        "color": 3
      },
      "id": "6a1149d6-186f-49ce-a8b3-3a97b83b10a7",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7440,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "city": "={{ $json.city }}",
          "companyName": "={{ $json.company }}",
          "country": "={{ $json.country }}",
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "=instagram_handle",
                "value": "={{ $json.instagram_handle }}"
              },
              {
                "property": "=facebook_handle",
                "value": "={{ $json.facebook_handle }}"
              },
              {
                "property": "=linkedin_url",
                "value": "={{ $json.linkedin_url }}"
              }
            ]
          },
          "dateOfBirth": "={{ $json.date_of_birth?.toDateTime() }}",
          "degree": "={{ $json.degree }}",
          "fieldOfStudy": "={{ $json.field_of_study }}",
          "firstName": "={{ $json.first_name }}",
          "gender": "={{ $json.gender }}",
          "graduationDate": "={{ $json.graduation_date?.toDateTime() }}",
          "industry": "={{ $json.company_industry }}",
          "jobFunction": "={{ $json.job_function }}",
          "jobTitle": "={{ $json.job_title }}",
          "lastName": "={{ $json.last_name }}",
          "maritalStatus": "={{ $json.marital_status }}",
          "phoneNumber": "={{ $json.phone }}",
          "postalCode": "={{ $json.zip }}",
          "salutation": "={{ $json.salutation }}",
          "school": "={{ $json.school }}",
          "streetAddress": "={{ $json.address }}",
          "twitterUsername": "={{ $json.x_handle }}"
        },
        "options": {}
      },
      "id": "2c3f4e27-a1ee-4a0a-8fb8-180b5de97ae6",
      "name": "Update the Hubspot Contact",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        7872,
        880
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8f546fac-c14d-40f8-9fd0-7c431e1ae7f8",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 0.89
            }
          ]
        },
        "options": {}
      },
      "id": "fdadcb0e-f66e-4755-8939-ab28d51301eb",
      "name": "Set Desired Confidence Score",
      "type": "n8n-nodes-base.if",
      "position": [
        7568,
        912
      ],
      "typeVersion": 2.2
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not matched route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not matched route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not matched route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Judge the accuracy of scraped data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Prepare the scraped output for Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Process each leads one by one",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Process each leads one by one",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scraper AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Not matched route": {
      "main": [
        [
          {
            "node": "Update the status of the record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Scraper AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter the leads that needs enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bright Data MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Scraper AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Set Desired Confidence Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Update row_id and status": {
      "main": [
        [
          {
            "node": "Add record if the confidence score is below 85%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Scraper AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Check the confidence score": {
      "main": [
        [
          {
            "node": "Override the record if the confidence score is equal or greater than 85%",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row_id and status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update the status of the original record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract the AI results only": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Space requests by 5 seconds": {
      "main": [
        [
          {
            "node": "Just to make the connection neat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Desired Confidence Score": {
      "main": [
        [
          {
            "node": "Update the Hubspot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process each leads one by one": {
      "main": [
        [],
        [
          {
            "node": "Remove unneccessary fields for the prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Contact in Hubpost (OAuth2)": {
      "main": [
        [
          {
            "node": "HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the status of the record": {
      "main": [
        [
          {
            "node": "Space requests by 5 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Just to make the connection neat": {
      "main": [
        [
          {
            "node": "Process each leads one by one",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Judge the accuracy of scraped data": {
      "main": [
        [
          {
            "node": "Extract the AI results only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add confidence score to Google Sheet": {
      "main": [
        [
          {
            "node": "Check the confidence score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Contact in Hubpost (Private App)": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter the leads that needs enrichment": {
      "main": [
        [
          {
            "node": "Process each leads one by one",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove unneccessary fields for the prompt": {
      "main": [
        [
          {
            "node": "Scraper AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare the scraped output for Google Sheets": {
      "main": [
        [
          {
            "node": "Add confidence score to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add record if the confidence score is below 85%": {
      "main": [
        [
          {
            "node": "Space requests by 5 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Override the record if the confidence score is equal or greater than 85%": {
      "main": [
        [
          {
            "node": "Space requests by 5 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateId": "4589"
  }
}